<a href="https://colab.research.google.com/github/ggjack/kaggle-challenges/blob/main/mental_health_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

playground_series_s4e11_path = kagglehub.competition_download('playground-series-s4e11')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from matplotlib import pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e11/sample_submission.csv
/kaggle/input/playground-series-s4e11/train.csv
/kaggle/input/playground-series-s4e11/test.csv

In [ ]:
train = pd.read_csv("/kaggle/input/playground-series-s4e11/train.csv")
test = pd.read_csv("/kaggle/input/playground-series-s4e11/test.csv")

train.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,70349.500000,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,40616.735775,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,35174.750000,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,70349.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,105524.250000,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,140699.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [ ]:
test.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress
count,93800.000000,93800.000000,18767.000000,75022.000000,18766.000000,18767.000000,75026.00000,93800.000000,93800.000000
mean,187599.500000,40.321685,3.158576,3.011797,7.674016,2.939522,2.96092,6.247335,2.978763
std,27077.871962,12.393480,1.386666,1.403563,1.465056,1.374242,1.41071,3.858191,1.414604
min,140700.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.00000,0.000000,1.000000
25%,164149.750000,29.000000,2.000000,2.000000,6.330000,2.000000,2.00000,3.000000,2.000000
50%,187599.500000,42.000000,3.000000,3.000000,7.800000,3.000000,3.00000,6.000000,3.000000
75%,211049.250000,51.000000,4.000000,4.000000,8.940000,4.000000,4.00000,10.000000,4.000000
max,234499.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.00000,12.000000,5.000000

In [ ]:
print(train.columns)
student_only_cols = [
    "Academic Pressure",
    "CGPA",
    "Study Satisfaction",
]

work_only_cols = [
    "Profession",
    "Work Pressure",
    "Job Satisfaction",
]

Index(['id', 'Name', 'Gender', 'Age', 'City',
       'Working Professional or Student', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [ ]:
train.head

<bound method NDFrame.head of             id      Name  Gender   Age           City  \
0            0  Aaradhya  Female  49.0       Ludhiana
1            1     Vivan    Male  26.0       Varanasi
2            2    Yuvraj    Male  33.0  Visakhapatnam
3            3    Yuvraj    Male  22.0         Mumbai
4            4      Rhea  Female  30.0         Kanpur
...        ...       ...     ...   ...            ...
140695  140695     Vidya  Female  18.0      Ahmedabad
140696  140696      Lata  Female  41.0      Hyderabad
140697  140697   Aanchal  Female  24.0        Kolkata
140698  140698    Prachi  Female  49.0       Srinagar
140699  140699       Sai    Male  27.0          Patna

       Working Professional or Student         Profession  Academic Pressure  \
0                 Working Professional               Chef                NaN
1                 Working Professional            Teacher                NaN
2                              Student                NaN                5.0
3                 Working Professional            Teacher                NaN
4                 Working Professional   Business Analyst                NaN
...                                ...                ...                ...
140695            Working Professional                NaN                NaN
140696            Working Professional     Content Writer                NaN
140697            Working Professional  Marketing Manager                NaN
140698            Working Professional            Plumber                NaN
140699                         Student                NaN                4.0

        Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
0                 5.0   NaN                 NaN               2.0
1                 4.0   NaN                 NaN               3.0
2                 NaN  8.97                 2.0               NaN
3                 5.0   NaN                 NaN               1.0
4                 1.0   NaN                 NaN               1.0
...               ...   ...                 ...               ...
140695            5.0   NaN                 NaN               4.0
140696            5.0   NaN                 NaN               4.0
140697            3.0   NaN                 NaN               1.0
140698            5.0   NaN                 NaN               2.0
140699            NaN  9.24                 1.0               NaN

           Sleep Duration Dietary Habits    Degree  \
0       More than 8 hours        Healthy       BHM
1       Less than 5 hours      Unhealthy       LLB
2               5-6 hours        Healthy   B.Pharm
3       Less than 5 hours       Moderate       BBA
4               5-6 hours      Unhealthy       BBA
...                   ...            ...       ...
140695          5-6 hours      Unhealthy  Class 12
140696          7-8 hours       Moderate    B.Tech
140697  More than 8 hours       Moderate     B.Com
140698          5-6 hours       Moderate        ME
140699  Less than 5 hours        Healthy       BCA

       Have you ever had suicidal thoughts ?  Work/Study Hours  \
0                                         No               1.0
1                                        Yes               7.0
2                                        Yes               3.0
3                                        Yes              10.0
4                                        Yes               9.0
...                                      ...               ...
140695                                    No               2.0
140696                                   Yes               6.0
140697                                    No               4.0
140698                                   Yes              10.0
140699                                   Yes               2.0

        Financial Stress Family History of Mental Illness  Depression
0                    2.0                               No           0
1                    3.0                               No           1
2                    1.0                               No           1
3                    1.0                              Yes           1
4                    4.0                              Yes           0
...                  ...                              ...         ...
140695               4.0                              Yes           1
140696               5.0                              Yes           0
140697               4.0                               No           0
140698               1.0                               No           0
140699               3.0                              Yes           1

[140700 rows x 20 columns]>

In [ ]:

for column in train.columns:
    print(f"col '{column}' {len(train[column].unique())} unique values")

col 'id' 140700 unique values
col 'Name' 422 unique values
col 'Gender' 2 unique values
col 'Age' 43 unique values
col 'City' 98 unique values
col 'Working Professional or Student' 2 unique values
col 'Profession' 65 unique values
col 'Academic Pressure' 6 unique values
col 'Work Pressure' 6 unique values
col 'CGPA' 332 unique values
col 'Study Satisfaction' 6 unique values
col 'Job Satisfaction' 6 unique values
col 'Sleep Duration' 36 unique values
col 'Dietary Habits' 24 unique values
col 'Degree' 116 unique values
col 'Have you ever had suicidal thoughts ?' 2 unique values
col 'Work/Study Hours' 13 unique values
col 'Financial Stress' 6 unique values
col 'Family History of Mental Illness' 2 unique values
col 'Depression' 2 unique values

TODO:
- figure out categorical -> one hot encoding
- numerical categorical -> estimated numerical value
- how to handle student only and work only fields

low priority:
- data scrubbing, some work profession has student, should convert either to or from student only row
- take a look at outliers and such